#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the size to your preference */
  gap: 20px;
  justify-items: center;
}

.card {
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  width: 200px; /* Set the width and height to the same value */
  height: 200px; /* Adjust the size to your preference */
}

.card:hover {
  transform: translateY(-5px);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 100%;
}

@media (max-width: 767px) {
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust the size to match the screen ratio */
  }

  .card {
    width: 100%; /* Occupy the full width of the screen */
    height: auto; /* Auto height */
  }
}
